{% load static %}
{% load i18n %}
<!doctype html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{% block description %}Háčkování, šití a další kreativní tvoření{% endblock %}">
    <meta name="google-site-verification" content="mrMSYD4kXGrYyU0eoakho6s_2bFts7oIR9lx87FGpss" />
    <meta name="author" content="Michal Čihař">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
    <meta name="theme-color" content="#ffc40d">

    <title>{% block title %}{% endblock %}byPeťula</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta property="og:site_name" content="byPeťula" />
{% block og_image %}
{% if object %}
  <meta property="og:image" content="https://bypetula.cz{{ object.image.filters.watermark.thumbnail.800x800 }}" />
{% elif object_list %}
  <meta property="og:image" content="https://bypetula.cz{{ object_list.0.image.filters.watermark.thumbnail.800x800 }}" />
{% endif %}
{% endblock %}

  </head>

  <body>

<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">byPeťula</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Úvod</a>
      </li>
      {% for category in categories %}
      <li class="nav-item">
        <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
      </li>
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
      </li>
     </ul>
  </div>
</nav>
</header>

<main id="content" role="main">
<div class="container">
{% block content %}
{% endblock %}
</div>
</main>

<footer class="text-muted">
    <ul>
      <li>Copyright &copy; 2018 <a href="mailto:petula@cihar.com">Petra Čihařová</a></li>
      <li>{% trans "Website maintained by" %}<a href="https://cs.cihar.com/">Michal Čihař</a></li>
    </ul>
</footer>
	
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.cihar.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '20']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.cihar.com/piwik.php?idsite=20&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
  </body>
</html>


