{% extends "base.html" %}

{% load humanize %}

{% block title %}{{ object.title }} - {% endblock %}

{% block description %}{{ object.summary.raw }}{% endblock %}

{% block content %}
<a href="{{ object.category.get_absolute_url }}"><span class="badge badge-secondary">{{ object.category }}</span></a>

<h2>{{ object.title }} </h2>

{{ object.summary }}

<img src="{{ object.image.filters.watermark.thumbnail.800x800 }}" alt="{{ object.title }}" class="img-thumbnail">

{{ object.body }}

<small class="text-muted">{{ object.date|naturalday }}</small>

{% endblock %}
