{% extends "base.html" %}

{% load humanize %}

{% block title %}{{ object.title }} - {% endblock %}

{% block description %}{{ object.summary }}{% endblock %}

{% block content %}
<a href="{{ object.category.get_absolute_url }}"><span class="badge badge-secondary">{{ object.category }}</span></a>

<h2>{{ object.title }} </h2>

<p>{{ object.summary }}</p>

<img src="{{ object.image.filters.watermark.thumbnail.800x800 }}" alt="{{ object.title }}" class="img-thumbnail">

{{ object.body }}

<small class="text-muted">{{ object.date|naturalday }}</small>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.12";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your like button code -->
  <div class="fb-like"
    data-href="https://bypetula.cz/{{ object.get_absolute_url }}"
    data-layout="standard"
    data-action="like"
    data-show-faces="true">
  </div>

{% endblock %}
