{% extends "base.html" %}

{% load humanize %}
{% load i18n %}

{% block title %}{{ object.title }} - {% endblock %}

{% block description %}{{ object.summary }}{% endblock %}

{% block content %}
<a href="{{ object.category.get_absolute_url }}"><span class="badge badge-secondary">{{ object.category }}</span></a>

<h2>{{ object.title }} </h2>

<p>{{ object.summary }}</p>

<img src="{{ object.image.filters.watermark.thumbnail.800x800 }}" alt="{{ object.title }}" class="img-thumbnail">

{{ object.body }}

<small class="text-muted">{{ object.date|naturalday }}</small>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="fb-like"
    data-href="https://bypetula.cz/{{ object.get_absolute_url }}"
    data-layout="standard"
    data-action="like"
    data-share="true"
    data-show-faces="true">
  </div>

<h2>{% trans "Related posts" %}</h2>

<div class="card-deck">
{% for related in object.get_related %}
{% include "posts/entry_list_item.html" with object=related %}
{% endfor %}
</div>

{% endblock %}
