{% extends "base.html" %}

{% load humanize %}

{% block content %}

<div class="card-deck">

{% for object in object_list %}
<a href="{{ object.get_absolute_url }}">
<div class="card text-center">
  <img class="card-img" src="{{ object.image.crop.400x400 }}" alt="{{ object.title }}">
  <div class="card-img-overlay">
    <p><span class="badge badge-secondary">{{ object.category }}</span></p>
    <h5 class="card-title">{{ object.title }}</h5>
    <p class="card-text">{{ object.summary }}</p>
    <p class="card-text"><small class="text-muted">{{ object.date|naturalday }}</small></p>
  </div>
</div>
</a>
{% endfor %}

</div>

{% include "paginator.html" %}

{% endblock %}
