@font-face {
    font-family: 'Conthrax Sb';
    src: url('ConthraxSb-Regular.woff2') format('woff2'),
        url('ConthraxSb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
footer ul {
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
footer li {
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
}
.card p, .card h5 {
    margin-top: 30px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}
.card-deck .card {
    margin: 15px;
}
main {
    margin: 30px;
}
.navbar-brand {
    font-family: 'Conthrax Sb';
}
.pagination {
    margin: 30px;
}
