footer ul {
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
footer li {
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
}
.card p, .card h5 {
    margin-top: 30px;
    text-decoration: none;
    color: white;
}
main {
    margin: 30px;
}
